<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<title>11</title>
<link href="/ajax/libs/select/select2.css" rel="stylesheet">

<style>
	#sousuo{
		position:fixed;
		top:0;
		width:100%;
		height: 35px;
		background: #b7fcff;
		display: inline-block;


	}
	.mingcheng{
		width: 6%;
	}
	.neirong{
		width: 10%;
	}
</style>

<body class="gray-bg">
	<div class="wrapper wrapper-content">
		<div class="btn-group hidden-xs" id="tableToolbar" role="group">
			<button type="button" class="btn btn-outline btn-default" th:onclick="'javascript:add()'" shiro:hasPermission="system:deal:add">
                <i class="glyphicon glyphicon-plus"></i>
            </button>
			<button type="button" class="btn btn-outline btn-default" th:onclick="'javascript:batchRemove()'" shiro:hasPermission="system:deal:batchRemove">
	            <i class="glyphicon glyphicon-trash"></i>
	        </button>
        </div>
		<table class="bootstrap-table" data-mobile-responsive="true" 
			   data-sort-name="create_time" data-sort-order="asc">
		</table>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/ruoyi/system/deal/deal.js"></script>
	<script th:inline="javascript" type="text/javascript">
		var editFlag = [[${@permissionService.hasPermi('system:deal:edit')}]];
		var removeFlag = [[${@permissionService.hasPermi('system:deal:remove')}]];
	</script>



	<div id="sousuo" >
		<form  id="form-sousuo" action="/system/deal/search">
			<table>
				<!--<tr><h3>分类查询</h3></tr>-->
				<tr>
					<td class="mingcheng">开始时间:</td>
					<td class="neirong"><input type="datetime-local" name="starttimes" id="starttime"/></td>
					<td class="mingcheng">结束时间:</td>
					<td class="neirong"><input type="datetime-local" name="overtimes"  id="overtime"/></td>

					<td class="mingcheng">业务员：</td>
					<td class="neirong"><select id="userName" name="userName" class="form-control select2-hidden-accessible" multiple="">
						<option th:each="user:${userList}" th:value="${user.userName}" th:text="${user.userName}" ></option>
					</select></td>
					<td class="mingcheng">渠道名称：</td>
					<td class="neirong"><select id="channelName" name="channelName" class="form-control select2-hidden-accessible" multiple="">
						<option th:each="channel:${channelList}"  th:value="${channel.channelName}" th:text="${channel.channelName}"></option>
					</select></td>
					<td class="mingcheng">产品名称： </td>
					<td class="neirong"><select id="productName" name="productName" class="form-control select2-hidden-accessible" multiple="">
						<option th:each="product:${productList}"  th:value="${product.productName}" th:text="${product.productName}"></option>
					</select></td>
					<td class="mingcheng">商户名称：</td>
					<td class="neirong"><select id="merchantName" name="merchantName" class="form-control select2-hidden-accessible" multiple="">
						<option th:each="merchant:${merchantList}"  th:value="${merchant.merchantName}" th:text="${merchant.merchantName}"></option>
					</select></td>

					<td class="mingcheng"></td>
					<td><button type="submit" class="btn btn-primary" style="align-content: center" >查询</button></td>
				</tr>
				</table>
		</form>
	</div>

	<script  src="/ajax/libs/select/select2.js"></script>
</body>
</html>