<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>游e宝介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="/css/main/bootstrap.min14ed.css" rel="stylesheet">
    <link href="/css/main/font-awesome.min93e3.css" rel="stylesheet">
    <link href="/css/main/animate.min.css" rel="stylesheet">
    <link href="/css/main/style.min862f.css" rel="stylesheet">
</head>
<style>
    .gray-bg{
        /*background: #000;*/
        margin: 0; padding:0;
        background:url(../img/xingkong.jpg) no-repeat center fixed;}
    canvas { width: 100%; height: 100%; position: absolute;
        /*opacity: 0.3;*/
        
    }


</style>
<body class="gray-bg" >
<div style=""><h1 style="text-align: center;  line-height:40rem;color: #f6ffea">游e通后台管理系统</h1></div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>


    <canvas id="canvas" style="position: absolute; left: -1px;top: -1px; display:block;"></canvas>


    <!--<script src="/js/donghua/旋转星空.js"></script>-->
    <!--<script src="/js/donghua/动感六角.js"></script>-->
    <script src="/js/donghua/彩色元素.js"></script>
    <!--<script src="/js/donghua/彩色动感.js"></script>-->
    <!--<script src="/js/donghua/鼠标气泡.js"></script>-->


</body>
</html>
